AUTH_SUPABASE_USER=
AUTH_SUPABASE_PASSWORD=


MENU_SUPABASE_USER=
MENU_SUPABASE_PASSWORD=

ORDER_SUPABASE_URL=
ORDER_SUPABASE_USER=
ORDER_SUPABASE_PASSWORD=

JWT_KEYSTORE_PASSWORD=
JWT_KEY_PASSWORD=

cloudamqp_host=
cloudamqp_username=
cloudamqp_password=
cloudamqp_vhost=

mongo_uri=
